* {
    margin: 0;
    padding: 0;
}

body {
    width: 60vw;
    margin-left: 20vw;
    margin-top: 10vh;
    font-family: 'Kanit', sans-serif;
    background-color: whitesmoke;
}

h1 {
    color: blue; 
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: blue; 
    margin-top: 10px;
}

.container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    margin-bottom: 30px;
}

.item {
    padding: 10px;
}

.item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.item h2, .item p {
    margin: 10px 0;
}

a {
    display: inline-block; 
    padding: 10px; 
    margin-top: 15px; 
    background-color: blue; 
    color: #fff; 
    text-decoration: none; 
    text-align: center; 
    
}

@media screen and (max-width: 500px) {
    body {
        width: 100vw;
        margin-left: 0;
    }

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto; 
        grid-gap: 20px;
    }

    .item {
        padding: 20px;
    }

    .item img {
        width: 100%; 
        margin: 0 auto 20px auto; 
    }

    .item h2, .item p {
        text-align: left; 
    }

    
}